<div id="map"></div>
<div></div>
<div class="panel panel-primary">
  <div class="panel-heading">待购买的土地</div>
  <div class="panel-body">
    <div class="add" ></div>
  </div>
  <div class="panel-footer">
    <div class="btn-group">
      <button id = "submit" type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Submit
      </button>
    </div>
  </div>
</div>


<!-- 信息标记 -->
<script>
  function initMap() {
    var land = '';
    var lands = '';
    var uluru = {lat: <%=@tag_lat%>, lng: <%=@tag_lng%>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru,
      // 禁止显示谷歌默认标签
      // disableDefaultUI: true
    });
    map.addListener('click', function(e) {
      var lat = (parseInt(e.latLng.lat()/5))*5-2.5
      var lng = (parseInt(e.latLng.lng()/5))*5+2.5
      $.ajax({
        url:'/lands/validation',
        type:'post',
        data:{'land':lat.toString()+","+lng.toString()},
        success:function(result){
          // alert(result);
          // if (result[1]==true){
            lands+=""+lat.toString()+","+lng.toString()+"=";
            drawDoxes(e.latLng,map);
          // }
          // else{
            // alert("fail");
          // }
        }
      })
    });
    var contentString = '<%=render 'info_window' %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var rectangle = new google.maps.Rectangle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      bounds: {
        north: <%=@bounds['N']%>,
        south: <%=@bounds['S']%>,
        east: <%=@bounds['E']%>,
        west: <%=@bounds['W']%>
      }
    });

    var marker = new google.maps.Marker({
      position: uluru,
      map: map,
      title: 'Uluru (Ayers Rock)'
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    $('.btn').click(function() {
      alert(lands);
      $.ajax({
        url:'/lands/create',
        type:'post',
        data:{'land':lands},
        // success:function(result){
        //   // alert(result);
        //   // if (result[1]==true){
        //     lands+=""+lat.toString()+","+lng.toString()+"=";
        //     drawDoxes(e.latLng,map,land)
        //   // }
        //   // else{
        //     // alert("fail");
        //   // }
        // }
      })
      // $("#submit").empty;
      // $("#submit").attr({"disabled":"disabled"});
      // $("#submit").text("正在验证~~");
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAO4DnWVJ6jpDF77xDqrdgGp08-9hsPAU&libraries=drawing&callback=initMap"
async defer></script>
